<!DOCTYPE html>

<html>
  <form method="post" action="/checkout">
    <p><label>Enter item to purchase: </label>
      <input type="text" name="item" id="item">
    </p>
    <button id="submit">Submit</button>
  </form>
  

  
</html>
